@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, indigo, purple);
  font-family: "Raleway", sans-serif;
}
button {
  padding: 5px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  width: 120px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
button.btn-light {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.5);
}
button.btn-dark {
  background-color: indigo;
  color: white;
  box-shadow: 3px 3px 4px rgba(128, 0, 128, 0.5);
}
button.btn-light:hover,
button.btn-dark:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  padding: 10px 40px;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.1);
}
main {
  padding: 20px 10px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  margin-bottom: 15px;
}
.logo svg {
  height: 80px;
  color: white;
}
.top-nav {
  align-self: center;
  margin-bottom: 15px;
}
form {
  margin: 15px auto 20px;
  width: 300px;
  display: grid;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 150px);
  opacity: 0;
  transition: opacity 0.1s linear;
}
form.show-form {
  position: static;
  opacity: 1;
  transition: opacity 1s linear;
}
form input[type="text"] {
  -webkit-appearance: none;
  appearance: none;
  height: 35px;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  margin-bottom: 15px;
}
form input:focus {
  outline-style: none;
  border: 2px solid indigo;
}
form button {
  margin-top: 15px;
}
form .radio-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: space-between;
  margin-bottom: 10px;
}
form .radio-container div {
  display: flex;
  align-items: center;
  gap: 5px;
}
form .radio-container div input,
form .radio-container div label {
  display: flex;
  align-items: center;
}
form .radio-container div input[type="radio"] {
  accent-color: indigo;
}
form .radio-container div label svg {
  margin-right: 4px;
}
table {
  margin: 0 auto;
  text-align: left;
  background-color: white;
  border-collapse: separate;
  border-spacing: 0 8px;
  background-color: transparent;
  table-layout: auto;
  width: 100%;
}
th {
  color: white;
  padding: 0 8px;
}
td {
  background-color: white;
  padding: 8px;
  position: relative;
}
td::after {
  content: "";
  position: absolute;
  border-right: 1px solid rgba(75, 0, 130, 0.2);
  top: 15%;
  bottom: 15%;
  right: 0;
}
td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
thead tr th:nth-of-type(3),
thead tr th:nth-of-type(4),
.pages {
  text-align: center;
}
.read button,
.remove button {
  padding: 0;
  border-radius: 0;
  font-weight: normal;
  width: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.read button svg {
  height: 22px;
  color: silver;
}
.read button svg.status-read {
  color: green;
}
.read button svg.status-read path {
  stroke: green;
  stroke-width: 0.5px;
}
.remove button svg {
  height: 20px;
  color: red;
}
.remove button svg:hover {
  color: black;
}
@media screen and (min-width: 480px) {
  .logo {
    justify-self: start;
    margin-bottom: 5px;
  }
  .top-nav {
    justify-self: end;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 820px) {
  table {
    max-width: 800px;
  }
}
